@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    background-color: rgb(102, 102, 102);
    width: 30rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.display {
    background-color: rgb(93, 131, 93);
    width: 85%;
    height: 20%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 4vw;
    font-family: "Press Start 2P", cursive;
}

.button-container {
    width: 85%;
    height: 70%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.btn {
    border-radius: 10px;
    font-size: 2rem;
}

.btn-equal {
    background-color: #931319;
    border: #931319;
}
